<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BLACK SWIMMY</title>
        <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- principal.js -->


    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!--Swiper--> 
    <link href="../static/css/slides.css" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css">
     
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.jquery.min.js"></script>

</head>

<body>

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top" onclick=$("#menu-close").click();>BLACK SWIMMY</a>
            </li>
            <li>
                <a href="#about" onclick=$("#menu-close").click();>Nosotras</a>
            </li>
            <li>
                <a href="#about" onclick=$("#menu-close").click();>Blog</a>
            </li>
            <li>
                <a href="#contacto" onclick=$("#menu-close").click();>Contacto</a>
            </li>
            <li>
                <a href="#portfolio" onclick=$("#menu-close").click();>Tienda</a>
            </li>
        </ul>
    </nav>
    <a id="facebook" href="https://www.facebook.com/" class="btn btn-dark btn-lg toggle"><i class="fa fa-facebook"></i></a>
    <a id="instagram" href="https://www.instagram.com/" class="btn btn-dark btn-lg toggle"><i class="fa fa-instagram"></i></a>

    <!-- Header -->
    <header id="top" class="header">
        <iframe id="videoPortada" src="https://www.youtube.com/embed/YHWwdf7dXUw?rel=0&autoplay=1&controls=0&showinfo=0&start=6" volume="0" frameborder="0" allowfullscreen></iframe>
        <div class="text-vertical-center">
            <h1>BLACK SWIMMY</h1>
            <h3>Bikinis de diseño</h3>
            <br>
            <a href="#about" class="btn btn-dark btn-lg">Descubre más</a>
        </div>
    </header>
    <!-- Swiper principal -->
    <h2 id="galeria" class="text-center">Galeria</h2>
    <hr class="small">
    <div class="swiper-container swiper-container1">
        <div class="swiper-wrapper">
            <div id="swiper1-1" class="swiper-slide slidesPrincipales" ></div>
            <div id="swiper1-2" class="swiper-slide slidesPrincipales" ></div>
            <div id="swiper1-3" class="swiper-slide slidesPrincipales" ></div>
            <div id="swiper1-4" class="swiper-slide slidesPrincipales" ></div>
            <div id="swiper1-5" class="swiper-slide slidesPrincipales" ></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination1"></div>
    </div>




   

    <!-- Portfolio  -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Nuestros Bikinis</h2>
                    <hr class="small">
                </div>
            </div>    
            <div class="row text-center">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="portfolio-item">
                        <a href="pruebas">
                            <div class="portfolioPics">  
                                <div class="div-img hid" >
                                    <img class="img" src="../static/img/swiper2/port1.JPG" title="Foto2" alt="Foto2">
                                    <h4 id="portfolioText">TOPS</h4>  
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="portfolio-item">
                        <a href="pruebas">
                            <div class="portfolioPics">  
                                <div class="div-img hid" >
                                    <img class="img" src="../static/img/swiper2/port2.JPG" title="Foto2" alt="Foto2"><h4 id="portfolioText">BOTTOMS</h4>  
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="portfolio-item">
                        <a href="pruebas">
                            <div class="portfolioPics">  
                                <div class="div-img hid" >
                                    <img class="img" src="../static/img/swiper2/port3.png" title="Foto2" alt="Foto2"><h4 id="portfolioText">SETS</h4>  
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- swiper enlaces -->
    <br><br><br>
    <h2 id="swiper2" class="text-center">MÁS</h2>
    <hr class="small">
    <div class="swiper-container swiper-container2">
        <div class="swiper-wrapper">
            <div id="swiper2-1" class="swiper-slide swiper-slide2" >1</div>
            <div id="swiper2-2" class="swiper-slide swiper-slide2" >2</div>
            <div id="swiper2-3" class="swiper-slide swiper-slide2" >3</div>
            <div id="swiper2-4" class="swiper-slide swiper-slide2" >ETC</div>
            <div id="swiper2-5" class="swiper-slide swiper-slide2" >ETC</div>
            <div id="swiper2-6" class="swiper-slide swiper-slide2" >ETC</div>
            <div id="swiper2-7" class="swiper-slide swiper-slide2" >ETC</div>

        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination2"></div>
    </div>
    
    
<!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>BLACK SWIMMY</h2>
                    <p class="lead">VAYA PAGINA MAS GUAPA JODER <a target="_blank" href="http://join.deathtothestockphoto.com/">IMPRESIONANTE</a>.</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- Callout -->
    <aside class="callout">
        <div class="text-vertical-center">
            <h1>Vertically Centered Text</h1>
        </div>
    </aside>

   




    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>BLACK SWIMMY</strong>
                    </h4>
                    <p>LA CALA DEL MORAL
                        <br>Edificio puerta de la axarquia 29720</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> 635097210</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:name@example.com">ireneglh@gmail.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-instagram fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Your Website 2017</p>
                </div>
            </div>
        </div>
        <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
    </footer>




    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Our Services</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Service Name</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-compass fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Service Name</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-flask fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Service Name</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-shield fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Service Name</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <script src="../static/js/principal.js"></script>
    <script type="text/javascript" src="../static/js/swiperProp.js"></script>
    <!-- Custom Theme JavaScript -->


</body>

</html>
