<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BLACK SWIMMY</title>
        <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- principal.js -->


    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    

    <!-- Custom CSS -->
    <link href="../static/css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!--Swiper--> 
    <link href="../static/css/swiperPruebas.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.jquery.min.js"></script>

</head>

<body>


    <script src="../static/js/principal.js"></script>
    <script src="../static/js/swiperPruebas.js"></script>
    <!-- Custom Theme JavaScript -->
    <!-- Swiper -->
    <div id="swiper1" class="container">
        <div class="swiper-container swiper-container1">
            <div class="swiper-wrapper">
                <div class="swiper-slide swiper-slide1" style="background-image:url(http://lorempixel.com/600/600/nature/1)"></div>
                <div class="swiper-slide swiper-slide1" style="background-image:url(http://lorempixel.com/600/600/nature/2)"></div>
                <div class="swiper-slide swiper-slide1" style="background-image:url(http://lorempixel.com/600/600/nature/3)"></div>
                <div class="swiper-slide swiper-slide1" style="background-image:url(http://lorempixel.com/600/600/nature/4)"></div>
                <div class="swiper-slide swiper-slide1" style="background-image:url(http://lorempixel.com/600/600/nature/5)"></div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination1"></div>
        </div>
    </div>

    <div id="swiper2" class="container">
        <!-- Swiper -->
        <div class="swiper-container swiper-container2">
            <div class="swiper-wrapper">
                <div class="swiper-slide swiper-slide2" style="background-image:url(http://lorempixel.com/600/600/nature/1)"></div>
                <div class="swiper-slide swiper-slide2" style="background-image:url(http://lorempixel.com/600/600/nature/2)"></div>
                <div class="swiper-slide swiper-slide2" style="background-image:url(http://lorempixel.com/600/600/nature/3)"></div>
                <div class="swiper-slide swiper-slide2" style="background-image:url(http://lorempixel.com/600/600/nature/4)"></div>
                <div class="swiper-slide swiper-slide2" style="background-image:url(http://lorempixel.com/600/600/nature/5)"></div>
                <div class="swiper-slide swiper-slide2" style="background-image:url(http://lorempixel.com/600/600/nature/6)"></div>
                <div class="swiper-slide swiper-slide2" style="background-image:url(http://lorempixel.com/600/600/nature/7)"></div>
                <div class="swiper-slide swiper-slide2" style="background-image:url(http://lorempixel.com/600/600/nature/8)"></div>
                <div class="swiper-slide swiper-slide2" style="background-image:url(http://lorempixel.com/600/600/nature/9)"></div>
                <div class="swiper-slide swiper-slide2" style="background-image:url(http://lorempixel.com/600/600/nature/10)"></div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination2"></div>
        </div>
    </div>
</body>

</html>
